# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: healthchecks
  namespace: healthchecks
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      healthchecks:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: healthchecks/healthchecks
              tag: v4.0@sha256:9e90336d412acd9b5045f366751e21c3329a7d9da201890b7c46d43c1ca0eddb
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              SITE_NAME: Cook Healthchecks
              SITE_ROOT: https://${app_url}
              ALLOWED_HOSTS: "*"
              RP_ID: ${app_url}
              SITE_LOGO_URL: /static/img/logo.svg
              DEBUG: "False"
              SECRET_KEY: ${secret_key}
              EMAIL_HOST: ${smtp_hostname}
              EMAIL_HOST_USER: ${smtp_username}
              EMAIL_HOST_PASSWORD: ${smtp_password}
              EMAIL_PORT: "587"
              EMAIL_USE_TLS: "True"
              DEFAULT_FROM_EMAIL: ${smtp_username}
              TELEGRAM_TOKEN: ${telegram_token}
              TELEGRAM_BOT_NAME: Healthchecks
              REMOTE_USER_HEADER: HTTP_X_USER_EMAIL
              INTEGRATIONS_ALLOW_PRIVATE_IPS: "True"

              UWSGI_DISABLE_LOGGING: "1"
              UWSGI_PROCESSES: "1"

              DB: postgres
              DB_HOST: postgresql-rw
              DB_NAME: healthchecks
              DB_USER: healthchecks
              DB_PASSWORD:
                secretKeyRef:
                  name: postgresql-app
                  key: password

              S3_ENDPOINT: ${s3_endpoint}
              S3_REGION: us-central-1
              S3_BUCKET: healthchecks
              S3_ACCESS_KEY: ${s3_access_key}
              S3_SECRET_KEY: ${s3_secret_key}
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          securityContext:
            runAsUser: 999
            runAsGroup: 999
            fsGroup: 999
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"

    persistence:
      static:
        type: configMap
        name: healthchecks-static
        globalMounts:
          - path: /opt/healthchecks/static-collected/img/logo.svg
            subPath: logo.svg

    service:
      healthchecks:
        controller: healthchecks
        ports:
          http:
            port: 8000

    route:
      healthchecks:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - name: private
            backendRefs:
              - identifier: healthchecks
          - name: public
            matches:
              - path:
                  type: PathPrefix
                  value: /static/
              - path:
                  type: PathPrefix
                  value: /ping/
              - path:
                  type: PathPrefix
                  value: /api/
              - path:
                  type: PathPrefix
                  value: /badge/
              - path:
                  type: PathPrefix
                  value: /b/
              - path:
                  type: PathPrefix
                  value: /integrations/telegram/bot/
            backendRefs:
              - identifier: healthchecks

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
                sectionName: private
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/healthchecks/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access, email]
              forwardAccessToken: true
              logoutPath: /accounts/logout/
            jwt:
              optional: true
              providers:
                - name: extract-user-info
                  remoteJWKS:
                    uri: https://${oidc_host}/application/o/healthchecks/jwks/
                  claimToHeaders:
                    - claim: email
                      header: X-User-Email

    serviceMonitor:
      healthchecks:
        enabled: true
        serviceName: healthchecks
        endpoints:
          - port: http
            scheme: http
            path: ${service_monitor_path}
