apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: healthchecks
resources:
  - helmrelease.yaml
  - networkpolicy.yaml
configMapGenerator:
  - name: healthchecks-static
    options:
      disableNameSuffixHash: true
    files:
      - logo.svg
