# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: scanservjs
  namespace: scanservjs
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      scanservjs:
        containers:
          app:
            image:
              repository: sbs20/scanservjs
              tag: release-v3.0.4@sha256:e42263444a8dd5d533ead7d9eb2ef5fd9ca7a4a80569a6f9c14b7a3c21b9c7ca
              pullPolicy: IfNotPresent
            command: [node, /usr/lib/scanservjs/server/server.js]
            env:
              TZ: America/Chicago
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          terminationGracePeriodSeconds: 1
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsUser: 1026
            runAsGroup: 100
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch

    persistence:
      data:
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        globalMounts:
          - path: /var/lib/scanservjs
      output:
        type: nfs
        server: 192.168.1.240
        path: /volume1/documents/Scans
        globalMounts:
          - path: /var/lib/scanservjs/output
      sane:
        type: configMap
        identifier: sane
        globalMounts:
          - path: /etc/sane.d/pixma.conf
            subPath: pixma.conf
      scan-temp:
        type: emptyDir
        globalMounts:
          - path: /var/lib/scanservjs/temp
      tmp:
        type: emptyDir
        medium: Memory

    service:
      scanservjs:
        controller: scanservjs
        ports:
          http:
            port: 8080

    route:
      scanservjs:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - timeouts:
              request: 5m
              backendRequest: 5m
            backendRefs:
              - identifier: scanservjs

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/scanservjs/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]

    configMaps:
      config:
        data:
          # language=javascript
          config.local.js: |
            module.exports = {
              afterDevices(devices) {
                devices.forEach(d => {
                  if (d.id.startsWith('pixma:')) {
                    d.features['--resolution'].default = 600;
                    d.features['-x'].limits = [0, 217];
                    d.features['-y'].limits = [0, 298];
                  }
                });
              }
            };
      sane:
        data:
          pixma.conf: |
            bjnp://192.168.2.8

    secrets:
      scantopl:
        stringData:
          PLTOKEN: ${paperless_token}

    networkpolicies:
      scanner:
        controller: scanservjs
        policyTypes: [Egress]
        rules:
          egress:
            - to:
                - ipBlock:
                    cidr: 192.168.2.8/32
