apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: obico
  namespace: obico
spec:
  chart:
    spec:
      chart: obico
      version: 0.6.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: gabe565
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    server:
      image:
        repository: ghcr.io/gabe565/obico/web
        tag: latest@sha256:5c853fd38386c9658079a4f18b33b5e6c9db36e7b742eb811dd3c277e58e334c
      env:
        DJANGO_SECRET_KEY: ${django_secret_key}
        EMAIL_HOST: ${smtp_hostname}
        EMAIL_HOST_USER: ${smtp_username}
        EMAIL_HOST_PASSWORD: ${email_host_password}
        DEFAULT_FROM_EMAIL: ${smtp_username}
        EMAIL_PORT: '587'
        EMAIL_USE_TLS: 'True'
        TELEGRAM_BOT_TOKEN: ${telegram_bot_token}

      podLabels:
        policy.gabe565.com/egress-namespace: "true"
        policy.gabe565.com/egress-world: "true"
        policy.gabe565.com/ingress-nginx: "true"

      persistence:
        data:
          enabled: true
          storageClass: longhorn-ssd
          accessMode: ReadWriteOnce
          size: 512M
        media:
          enabled: true
          storageClass: nfs-client
          accessMode: ReadWriteMany
          size: 8Gi

      ingress:
        main:
          enabled: true
          annotations:
            nginx.ingress.kubernetes.io/proxy-body-size: 64m
          hosts:
            - host: ${app_url}
              paths:
                - path: /
          tls:
            - secretName: ${certificate_name}
              hosts:
                - ${app_url}

    ml-api:
      image:
        repository: ghcr.io/gabe565/obico/ml-api
        tag: latest@sha256:e1020160c0712962d1f8d2218ae4b3a5f0ef3dd12af3c7d34755a891d906499e
      podLabels:
        policy.gabe565.com/egress-world: "true"
        policy.gabe565.com/ingress-namespage: "true"

    redis:
      master:
        podLabels:
          policy.gabe565.com/ingress-namespace: "true"
