# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: obico
  namespace: obico
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      server:
        initContainers:
          collectstatic: &container
            image:
              repository: ghcr.io/gabe565/obico/web
              tag: latest@sha256:a37822d61218a00737542c5d77317613b8e1a409847e3ff737c5ec09a8766718
            command: [python, manage.py, collectstatic, --verbosity=2, --noinput, --link]
            env:
              DEBUG: "False"
              WEBPACK_LOADER_ENABLED: "False"
              SITE_USES_HTTPS: "True"
              INTERNAL_MEDIA_HOST: http://obico-server:3334
              ML_API_HOST: http://obico-ml-api:3333
              DJANGO_SECRET_KEY: ${django_secret_key}
              DATABASE_URL: sqlite:////data/db.sqlite3
              EMAIL_HOST: ${smtp_hostname}
              EMAIL_HOST_USER: ${smtp_username}
              EMAIL_HOST_PASSWORD: ${email_host_password}
              DEFAULT_FROM_EMAIL: ${smtp_username}
              EMAIL_PORT: '587'
              EMAIL_USE_TLS: 'True'
              TELEGRAM_BOT_TOKEN: ${telegram_bot_token}
              REDIS_PASSWORD:
                secretKeyRef:
                  name: valkey
                  key: valkey-password
              REDIS_URL: redis://:$(REDIS_PASSWORD)@valkey:6379
          migrate:
            <<: *container
            command: [python, manage.py, migrate]
        containers:
          server:
            <<: *container
            command: [python, manage.py, runserver, --noreload, 0.0.0.0:3334]
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
          tasks:
            <<: *container
            command:
              - celery
              - --app=config
              - worker
              - --beat
              - --loglevel=info
              - --concurrency=2
              - --queues=realtime,celery
              - --schedule=/tmp/celerybeat-schedule
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            valkey-client: "true"
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
      ml-api:
        strategy: RollingUpdate
        containers:
          ml-api:
            image:
              repository: ghcr.io/gabe565/obico/ml-api
              tag: latest@sha256:e6f9eb7494e00fb12a99d7c18303665c6defcb7b2b32445110fb0009e4081b90
            command: [gunicorn, --bind=0.0.0.0:3333, --workers=1, --access-logfile=-, wsgi]
            env:
              FLASK_APP: server.py
              DEBUG: "True"
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-namespage: "true"
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch

    persistence:
      server-data:
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 512M
        retain: true
        advancedMounts:
          server:
            migrate:
              - path: /data
            server:
              - path: /data
            tasks:
              - path: /data
      server-media:
        storageClass: nfs-client
        accessMode: ReadWriteMany
        size: 8Gi
        retain: true
        advancedMounts:
          server:
            server:
              - path: /app/static_build/media
            tasks:
              - path: /app/static_build/media
      static:
        type: emptyDir
        advancedMounts:
          server:
            collectstatic:
              - path: /app/static_build
            server:
              - path: /app/static_build

    service:
      server:
        controller: server
        ports:
          http:
            port: 3334
      ml-api:
        controller: ml-api
        ports:
          http:
            port: 3333

    route:
      server:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: server

    rawResources:
      allowlist:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            authorization:
              defaultAction: Deny
              rules:
                - action: Allow
                  principal:
                    clientCIDRs:
                      - 192.168.0.0/22
                      - 10.42.0.0/16
