# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: paperless-ngx
  namespace: paperless-ngx
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      paperless-ngx:
        containers:
          app:
            image:
              repository: ghcr.io/paperless-ngx/paperless-ngx
              tag: 2.20.5@sha256:665f2f5cc5482ea2e44f90a7fa170908aaeb95d8d3c70e17f746de8fcb81f644
              pullPolicy: IfNotPresent
            env:
              PAPERLESS_URL: https://${app_url}
              PAPERLESS_TIME_ZONE: America/Chicago
              PAPERLESS_SECRET_KEY: ${secret_key}
              PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
              PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_X_USER_NAME
              PAPERLESS_LOGOUT_REDIRECT_URL: /oauth2/logout
              PAPERLESS_ALLOWED_HOSTS: "*"

              PAPERLESS_DBENGINE: postgresql
              PAPERLESS_DBHOST: postgresql-rw
              PAPERLESS_DBNAME: paperless-ngx
              PAPERLESS_DBUSER: paperless-ngx
              PAPERLESS_DBPASS:
                secretKeyRef:
                  name: postgresql-app
                  key: password

              REDIS_PASSWORD:
                secretKeyRef:
                  name: valkey
                  key: valkey-password
              PAPERLESS_REDIS:
                value: redis://:$(REDIS_PASSWORD)@valkey
                dependsOn: REDIS_PASSWORD
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"

    service:
      paperless-ngx:
        controller: paperless-ngx
        ports:
          http:
            port: 8000

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        globalMounts:
          - path: /usr/src/paperless/data
      media:
        type: nfs
        server: 192.168.1.240
        path: /volume1/documents/paperless/media
        globalMounts:
          - path: /usr/src/paperless/media
      export:
        type: nfs
        server: 192.168.1.240
        path: /volume1/documents/paperless/export
        globalMounts:
          - path: /usr/src/paperless/export
      consume:
        type: nfs
        server: 192.168.1.240
        path: /volume1/documents/paperless/consume
        globalMounts:
          - path: /usr/src/paperless/consume
      tmp:
        type: emptyDir
        medium: Memory
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /run
            subPath: run

    route:
      paperless-ngx:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/paperless-ngx/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, profile, offline_access]
              forwardAccessToken: true
              logoutPath: /oauth2/logout
            jwt:
              optional: true
              providers:
                - name: extract-user-info
                  remoteJWKS:
                    uri: https://${oidc_host}/application/o/paperless-ngx/jwks/
                  claimToHeaders:
                    - claim: preferred_username
                      header: X-User-Name
