apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: searxng
  namespace: searxng
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      searxng:
        annotations:
          configmap.reloader.stakater.com/reload: searxng-config
        strategy: RollingUpdate
        initContainers:
          config-yampl:
            image:
              repository: ghcr.io/clevyr/yampl
              tag: 0.9.1@sha256:f7a709bc4aff7717626dc5feab4429482ceb98e9cfef07b8ff4a0598b8185827
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: config-envs
            command:
              - sh
              - -c
              - exec yampl --strip /config/settings.yml > /etc/searxng/settings.yml
        containers:
          app:
            image:
              repository: ghcr.io/searxng/searxng
              tag: latest
            env:
              TZ: America/Chicago
              SEARXNG_SECRET: ${searxng_secret}
              SEARXNG_URL: https://${app_url}
              UWSGI_WORKERS: "1"
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /healthz
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            valkey-client: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 977
            runAsGroup: 977
            fsGroup: 977
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      searxng:
        controller: searxng
        ports:
          http:
            port: 8080

    persistence:
      config:
        type: configMap
        name: searxng-config
        advancedMounts:
          searxng:
            config-yampl:
              - path: /config
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /etc/searxng
            subPath: etc/searxng

    route:
      searxng:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - name: internal
            matches:
              - headers:
                  - name: X-Envoy-External-Address
                    type: RegularExpression
                    value: '^192\.168\..*'
            backendRefs: &backendRefs
              - identifier: searxng
          - name: public
            backendRefs: *backendRefs

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
                sectionName: public
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/searxng/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
