apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home-external-dns
  namespace: adguard-home
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: external-dns
      version: 1.20.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: external-dns
      interval: 1h
  # TODO: Enable schema validation when new chart version is released
  install:
    disableSchemaValidation: true
  upgrade:
    disableSchemaValidation: true
  values:
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.2@sha256:162561ce7af084ee736a4c62c0bd3c0f12a3842d0ca8d96ac3665c15ef05add8
          pullPolicy: IfNotPresent
        env:
          - name: ADGUARD_URL
            value: http://adguard-home-origin:3000
          - name: ADGUARD_USER
            value: ${adguard_home_username}
          - name: ADGUARD_PASSWORD
            value: ${adguard_home_password}
          - name: SERVER_HOST
            value: 0.0.0.0
        securityContext:
          readOnlyRootFilesystem: true
    interval: 1h
    triggerLoopOnEvent: true
    sources: [service, gateway-httproute]
    policy: sync
    registry: noop

    env:
      - name: EXTERNAL_DNS_WEBHOOK_PROVIDER_URL
        value: http://localhost:8888
      - name: EXTERNAL_DNS_GATEWAY_NAME
        value: envoy-public
      - name: EXTERNAL_DNS_FORCE_DEFAULT_TARGETS
        value: "true"
      - name: EXTERNAL_DNS_DEFAULT_TARGETS
        value: 192.168.1.220

    podLabels:
      policy.gabe565.com/egress-adguard-api: "true"
      policy.gabe565.com/egress-kubeapi: "true"
      policy.gabe565.com/egress-world: "true"
