apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home-external-dns
  namespace: adguard-home
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: external-dns
      interval: 1h
  # TODO: Enable schema validation when new chart version is released
  install:
    disableSchemaValidation: true
  upgrade:
    disableSchemaValidation: true
  values:
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v11.0.0@sha256:7bc1d6b3d4590f8fbb6f8452d98aecb47b4ea0a19c09ce44a6f2f0a4c2b162d4
          pullPolicy: IfNotPresent
        env:
          - name: ADGUARD_URL
            value: http://adguard-home-origin:3000
          - name: ADGUARD_USER
            value: ${adguard_home_username}
          - name: ADGUARD_PASSWORD
            value: ${adguard_home_password}
          - name: SERVER_HOST
            value: 0.0.0.0
        securityContext:
          readOnlyRootFilesystem: true
    interval: 1h
    triggerLoopOnEvent: true
    sources: [service, ingress, gateway-httproute]
    policy: sync
    registry: noop

    env:
      - name: EXTERNAL_DNS_WEBHOOK_PROVIDER_URL
        value: http://localhost:8888
      - name: EXTERNAL_DNS_INGRESS_CLASS
        value: nginx
      - name: EXTERNAL_DNS_GATEWAY_NAME
        value: envoy-public

    podLabels:
      policy.gabe565.com/egress-adguard-api: "true"
      policy.gabe565.com/egress-kubeapi: "true"
      policy.gabe565.com/egress-world: "true"
