apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home-external-dns
  namespace: adguard-home
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: external-dns
      interval: 1h
  # TODO: Enable schema validation when new chart version is released
  install:
    disableSchemaValidation: true
  upgrade:
    disableSchemaValidation: true
  values:
    provider:
      name: webhook
      webhook:
        image:
          repository: ghcr.io/muhlba91/external-dns-provider-adguard
          tag: v9.2.0@sha256:e16a2a4a0737a386a8d92c659e6d9369e6a2c33562c48ee0d9a78ba5b7f44037
          pullPolicy: IfNotPresent
        env:
          - name: ADGUARD_URL
            value: http://adguard-home-origin:3000
          - name: ADGUARD_USER
            value: ${adguard_home_username}
          - name: ADGUARD_PASSWORD
            value: ${adguard_home_password}
          - name: SERVER_HOST
            value: 0.0.0.0
        securityContext:
          readOnlyRootFilesystem: true
    interval: 1h
    triggerLoopOnEvent: true
    policy: sync
    registry: noop

    extraArgs:
      - --webhook-provider-url=http://localhost:8888
      - --ingress-class=nginx

    podLabels:
      policy.gabe565.com/egress-adguard-api: "true"
      policy.gabe565.com/egress-kubeapi: "true"
      policy.gabe565.com/egress-world: "true"
