# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trmnl
  namespace: nightscout
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      trmnl:
        strategy: RollingUpdate
        containers:
          trmnl:
            image:
              repository: ghcr.io/gabe565/trmnl-nightscout
              tag: v0.3.0@sha256:78a61118ff12288d3ddf71b2f5de143838a085118a8ade3d2f139f620efcaed0
              pullPolicy: Always
            envFrom:
              - secretRef:
                  name: trmnl-env
            env:
              TZ: America/Chicago
              LISTEN_ADDRESS: ":80"
              IMAGE_URL: https://${trmnl_url}
              NIGHTSCOUT_URL: http://nightscout.nightscout:1337
              REAL_IP_HEADER: "true"
              TIME_FORMAT: 15:04
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-world: "true"
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            seccompProfile: {type: RuntimeDefault}

    service:
      trmnl:
        controller: trmnl
        ports:
          http:
            port: 80

    route:
      trmnl:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${trmnl_url}
