# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.0.1/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: trmnl
  namespace: nightscout
spec:
  chart:
    spec:
      chart: app-template
      version: 4.0.1
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      trmnl:
        annotations:
          secret.reloader.stakater.com/reload: internal-tls
        strategy: RollingUpdate
        containers:
          trmnl:
            image:
              repository: ghcr.io/gabe565/trmnl-nightscout
              tag: v0.2.0@sha256:b7f545c96cd9bdefcd4fa50cde4a1b93726393678ca73723fc7ac781277b2852
              pullPolicy: Always
            envFrom:
              - secretRef:
                  name: trmnl-env
            env:
              TZ: America/Chicago
              IMAGE_URL: https://${trmnl_url}
              TLS_CERT_PATH: /tls/tls.crt
              TLS_KEY_PATH: /tls/tls.key
              NIGHTSCOUT_URL: https://nightscout.nightscout:1337
              NIGHTSCOUT_CA_CERT_PATH: /tls/ca.crt
              REAL_IP_HEADER: "true"
              TIME_FORMAT: 15:04
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
            probes:
              liveness: &probe
                enabled: true
                type: HTTPS
                path: /ping
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/ingress-nginx: "true"
            policy.gabe565.com/ingress-world: "true"
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            seccompProfile: {type: RuntimeDefault}

    persistence:
      tls:
        type: secret
        name: trmnl-internal-tls

    service:
      trmnl:
        controller: trmnl
        ports:
          http:
            port: 8080

    ingress:
      trmnl:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
        hosts:
          - host: ${trmnl_url}
            paths:
              - path: /
                service:
                  identifier: trmnl
        tls:
          - secretName: ${certificate_name}
            hosts:
              - ${trmnl_url}
