# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.1.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb
  namespace: bookstack
spec:
  chart:
    spec:
      chart: app-template
      version: 4.1.2
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  valuesFrom:
    - kind: ConfigMap
      name: mariadb-defaults
  values:
    controllers:
      mariadb:
        containers:
          mariadb:
            image:
              repository: mariadb
              tag: 12.0.2@sha256:607835cd628b78e2876f6a586d0ec37b296c47683b31ef750002d3d17d3d8f7a
            args:
              - --max_statement_time=60
            env:
              MARIADB_DATABASE: bookstack
              MARIADB_USER: bookstack

    persistence:
      data:
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 8Gi
        retain: true

    secrets:
      mariadb:
        stringData:
          mariadb-root-password: ${mariadb_root_password}
          mariadb-password: ${mariadb_password}
