# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptime-kuma
  namespace: uptime-kuma
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  valuesFrom:
    - kind: ConfigMap
      name: uptime-kuma-values
  values:
    controllers:
      uptime-kuma:
        containers:
          app:
            image:
              repository: ghcr.io/louislam/uptime-kuma
              tag: 2.0.2-slim@sha256:60f3b7d1b55c3d5a9d941f7f91c3e7ac624dea53beb34538fe5546e3664a1e82
              pullPolicy: IfNotPresent
            command: [node, server/server.js]
            env:
              UPTIME_KUMA_DB_TYPE: mariadb
              UPTIME_KUMA_DB_HOSTNAME: mariadb
              UPTIME_KUMA_DB_NAME: uptime-kuma
              UPTIME_KUMA_DB_USERNAME: uptime-kuma
              UPTIME_KUMA_DB_PASSWORD:
                secretKeyRef:
                  name: mariadb
                  key: mariadb-password
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
              readOnlyRootFilesystem: true
        pod:
          labels:
            policy.gabe565.com/egress-adguard-dns: "true"
            policy.gabe565.com/egress-envoy-public: "true"
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      uptime-kuma:
        controller: uptime-kuma
        ports:
          http:
            port: 3001

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 2Gi
        retain: true
        globalMounts:
          - path: /app/data

    route:
      uptime-kuma:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - name: private
            backendRefs: &backendRefs
              - identifier: uptime-kuma
          - name: public
            matches:
              - path:
                  type: Exact
                  value: /status
            backendRefs: *backendRefs

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
                sectionName: private
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/uptime-kuma/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]

    serviceMonitor:
      main:
        enabled: true
        serviceName: uptime-kuma
        endpoints:
         - port: http
           scheme: http
           path: /metrics
           interval: 1m
           scrapeTimeout: 10s
