apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: ingress-nginx
      version: 4.14.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: ingress-nginx
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: defaults
  values:
    controller:
      extraArgs:
        maxmind-mirror: ${geoip_mirror}

      maxmindLicenseKey: stub

      config:
        use-geoip2: "true"

      ingressClassResource:
        name: nginx
        default: true

      service:
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: 192.168.1.220

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          scrapeInterval: 1m

    defaultBackend:
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.3.2@sha256:e7133e4faf97675c00ad9150c98ec1a867ae91ece5131a7eb218b868ce5a628d
