# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kromgo
  namespace: kromgo
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      kromgo:
        annotations:
          configmap.reloader.stakater.com/reload: kromgo-config
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/kashalls/kromgo
              tag: v0.7.5@sha256:25df18d426e19aafa7526cd9138a6f35ca73c6ef6fcfcf9de8971c4334f6efdf
              pullPolicy: IfNotPresent
            env:
              PROMETHEUS_URL: http://kube-prometheus-stack-prometheus:9090
              SERVER_HOST: 0.0.0.0
              HEALTH_HOST: 0.0.0.0
            securityContext:
              readOnlyRootFilesystem: true
            resources:
              requests:
                cpu: 10m
                memory: 10Mi
              limits:
                memory: 64Mi
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                port: 8888
                path: /-/ready
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/ingress-envoy-public: "true"

    persistence:
      config:
        type: configMap
        name: kromgo-config
        globalMounts:
          - path: /kromgo/config.yaml
            subPath: config.yaml

    service:
      kromgo:
        controller: kromgo
        ports:
          http:
            port: 8080
            primary: true
          health:
            port: 8888

    route:
      kromgo:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - kromgo.gabe565.com
