apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
    name: letsencrypt-http01
    namespace: cert-manager
spec:
    acme:
        email: ${email}
        server: https://acme-v02.api.letsencrypt.org/directory
        privateKeySecretRef:
            name: letsencrypt-http01
        solvers:
          - http01:
              ingress:
                class: nginx
