# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: esphome
  namespace: esphome
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    defaultPodOptions:
      affinity:
        podAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app.kubernetes.io/name: esphome
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        seccompProfile: { type: RuntimeDefault }

    controllers:
      esphome:
        containers:
          app:
            image:
              repository: ghcr.io/esphome/esphome
              tag: 2025.11.5@sha256:a22312011695efb5c37680682654c1b5cd2dcec4804ba5f3d4af5dd9093e592f
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              # From https://github.com/ptr727/ESPHome-NonRoot
              PLATFORMIO_CORE_DIR: /cache/pio
              # ESPHome "build_path" option, default is "/config/.esphome/build/[project]"
              ESPHOME_BUILD_PATH: /cache/build
              # ESPHome "data_dir" option, default is "/config/.esphome"
              ESPHOME_DATA_DIR: /cache/data
              # Set pip cache directory, default is "~/.cache/pip"
              PIP_CACHE_DIR: /cache/pip
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: ipvlan
          terminationGracePeriodSeconds: 1
          dnsConfig:
            nameservers:
              - 192.168.1.221
          dnsPolicy: None
          labels:
            policy.gabe565.com/egress-adguard-dns: "true"
            policy.gabe565.com/egress-world-with-lan: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
      code:
        containers:
          app:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.106.2@sha256:cca5c0bbff928df75ba9344a878e4ca7a321c0d42c34b39e02722b29855a56ac
              pullPolicy: IfNotPresent
            args:
              - --disable-telemetry
              - --disable-update-check
              - --auth=none
              - --user-data-dir=/cache
              - --extensions-dir=/cache
              - /config
            resources:
              requests:
                cpu: 0m
                memory: 50Mi
              limits:
                cpu: 500m
                memory: 500Mi
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: { drop: [ALL] }
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"

    service:
      esphome:
        controller: esphome
        ports:
          http:
            port: 6052
      code:
        controller: code
        ports:
          http:
            port: 8080

    persistence:
      config:
        type: nfs
        server: 192.168.1.240
        path: /volume1/software/ESPHome
      cache:
        suffix: cache
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 8Gi
        advancedMounts:
          esphome:
            app:
              - path: /cache
                subPath: esphome
          code:
            app:
              - path: /cache
                subPath: code
      tmp:
        type: emptyDir
        globalMounts:
          - path: /nonexistent
            subPath: home
          - path: /tmp
            subPath: tmp

    route:
      esphome:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: esphome
      code:
        parentRefs: *parentRefs
        hostnames:
          - ${code_url}
        rules:
          - backendRefs:
              - identifier: code

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-code"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/esphome/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
