# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matrimony
  namespace: matrimony
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      matrimony:
        containers:
          app:
            image:
              repository: ghcr.io/gabe565/matrimony
              tag: 1.1.1@sha256:d39a9d7c3e1bc24cb7e3742b94f210126e50603a8a5b74fcd5d1aae53ce2124b
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          labels:
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            fsGroup: 1000

    service:
      matrimony:
        controller: matrimony
        ports:
          http:
            port: 80

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 256Mi
        retain: true

    route:
      matrimony:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}

    rawResources:
      allowlist:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            authorization:
              defaultAction: Deny
              rules:
                - action: Allow
                  principal:
                    clientCIDRs:
                      - 192.168.0.0/22
                      - 10.42.0.0/16
