apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
  namespace: nextcloud
spec:
  chart:
    spec:
      chart: nextcloud
      version: 8.9.1
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: nextcloud
        name: nextcloud
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    image:
      flavor: fpm-alpine

    nextcloud:
      host: ${app_url}
      extraEnv:
        - name: REDIS_HOST
          value: valkey
        - name: REDIS_HOST_PORT
          value: "6379"
        - name: REDIS_HOST_PASSWORD
          valueFrom:
            secretKeyRef:
              name: valkey
              key: valkey-password

    podLabels:
      policy.gabe565.com/egress-namespace: "true"
      policy.gabe565.com/egress-world: "true"
      policy.gabe565.com/ingress-envoy-public: "true"
      valkey-client: "true"

    nginx:
      enabled: true
      image:
        repository: ghcr.io/nginx/nginx-unprivileged
        tag: stable-alpine

    redis:
      enabled: false

    internalDatabase:
      enabled: false
    externalDatabase:
      enabled: true
      type: postgresql
      existingSecret:
        enabled: true
        secretName: postgresql-app
        hostKey: host
        databaseKey: dbname
        usernameKey: username
        passwordKey: password

    cronjob:
      enabled: true

    persistence:
      enabled: true
      storageClass: longhorn-ssd
