apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: ingress-nginx
      version: v4.14.3
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: ingress-nginx
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: defaults
  values:
    controller:
      extraArgs:
        maxmind-mirror: ${geoip_mirror}

      maxmindLicenseKey: stub

      config:
        use-geoip2: "true"

      ingressClassResource:
        name: nginx
        default: true

      service:
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: ${load_balancer_ip}
        ipFamilyPolicy: PreferDualStack

    defaultBackend:
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.8.1@sha256:b8ded6f847df91075429cf79cb9491bfd7d96de69936555498a2ff0614e003e4
