# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: qbittorrent
  namespace: qbittorrent
spec:
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      qbittorrent:
        annotations:
          secret.reloader.stakater.com/reload: qbittorrent-gluetun
        initContainers:
          vpn:
            image:
              repository: qmcgaw/gluetun
              tag: v3.41.0@sha256:6b54856716d0de56e5bb00a77029b0adea57284cf5a466f23aad5979257d3045
              pullPolicy: IfNotPresent
            restartPolicy: Always
            env:
              HEALTH_VPN_DURATION_INITIAL: 120s
              HEALTH_SUCCESS_WAIT_DURATION: 120s
              VPN_SERVICE_PROVIDER: custom
              VPN_TYPE: wireguard
              FIREWALL_INPUT_PORTS: "8080"
              DOT: "off"
              DNS_ADDRESS: 10.8.0.1
              WIREGUARD_MTU: "1390"
              VERSION_INFORMATION: "off"
              FIREWALL_VPN_INPUT_PORTS: ${bittorrent_port}
              WIREGUARD_PRIVATE_KEY: ${wireguard_private_key}
              WIREGUARD_ADDRESSES: ${wireguard_addresses}
              WIREGUARD_PUBLIC_KEY: ${wireguard_public_key}
              WIREGUARD_ENDPOINT_IP: ${wireguard_endpoint_ip}
              WIREGUARD_ENDPOINT_PORT: ${wireguard_endpoint_port}
            lifecycle:
              postStart:
                exec:
                  command: ["/bin/sh", "-c", "(ip rule del table 51820; ip -6 rule del table 51820) || true"]
            resources:
              requests:
                squat.ai/tun: 1
              limits:
                squat.ai/tun: 1
            securityContext:
              capabilities:
                add:
                  - NET_ADMIN
                  - SYS_MODULE
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  exec: &exec
                    command: [/gluetun-entrypoint, healthcheck]
                  periodSeconds: 60
              startup:
                <<: *probe
                spec:
                  exec: *exec
                  failureThreshold: 30
                  periodSeconds: 5
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:56ecd30a7f5e1357daf5eea2a6935134d329b7b268a3a9b9c67041b65fb87fc6
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              QBITTORRENT__BT_PORT: ${bittorrent_port}
            probes:
              liveness: &probe
                enabled: true
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
      vuetorrent:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gabe565/vuetorrent
              tag: 2.23.1-nonroot@sha256:e8ffc548bbe956483996ec8ccf61b7fe34a6b90ae25bf15664104da6863d635f
              pullPolicy: IfNotPresent
            securityContext:
              readOnlyRootFilesystem: true
            probes:
              startup:
                enabled: true
                type: HTTP
                path: /
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          labels:
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 101
            runAsGroup: 101
            seccompProfile: {type: RuntimeDefault}

    persistence:
      config:
        suffix: config
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        advancedMounts:
          qbittorrent:
            app:
              - path: /config
      downloads:
        type: nfs
        server: 192.168.1.240
        path: /volume1/media/Downloads
        advancedMounts:
          qbittorrent:
            app:
              - path: /downloads
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
        advancedMounts:
          vuetorrent:
            app:
              - path: /var/cache/nginx
                subPath: nginx/cache
              - path: /var/run
                subPath: nginx/run

    service:
      qbittorrent:
        controller: qbittorrent
        ports:
          http:
            port: 8080
      vuetorrent:
        controller: vuetorrent
        ports:
          http:
            port: 8080

    route:
      qbittorrent:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - filters: &qbittorrentFilters
              - type: RequestHeaderModifier
                requestHeaderModifier:
                  remove: [Referer]
            backendRefs:
              - identifier: qbittorrent
      vuetorrent:
        parentRefs: *parentRefs
        hostnames:
          - ${vuetorrent_url}
        rules:
          - name: vuetorrent
            backendRefs:
              - identifier: vuetorrent
          - name: api
            matches:
              - path:
                  type: PathPrefix
                  value: /api
            filters: *qbittorrentFilters
            backendRefs:
              - identifier: qbittorrent
          - name: service-worker
            matches:
              - path:
                  type: Exact
                  value: /sw.js
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: qbittorrent-service-worker

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-vuetorrent"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/qbittorrent/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
      service-worker:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: HTTPRouteFilter
        spec:
          spec:
            directResponse:
              contentType: application/javascript
              statusCode: 200
              body:
                type: Inline
                inline: |
                  self.addEventListener('install', event => { event.waitUntil(self.skipWaiting()) });
