# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: isponsorblocktv
  namespace: youtube
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      main:
        initContainers:
          set-api-key:
            image:
              repository: ghcr.io/mikefarah/yq
              tag: 4.48.2@sha256:f7fe014cd27b255ee16416999a7cb7eb29dd30f6f61a331ee3e09febf80ee1de
              pullPolicy: IfNotPresent
            args:
              - --inplace
              - .apikey = strenv(YOUTUBE_API_KEY)
              - /app/data/config.json
            env:
              YOUTUBE_API_KEY:
                secretKeyRef:
                  name: youtube
                  key: api_key
        containers:
          main:
            image:
              repository: ghcr.io/dmunozv04/isponsorblocktv
              tag: v2.6.1@sha256:545856523283753ebcf4b400a46895b9906844be5265a0f4cab98a6b0bdf84be
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: [ALL] }
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
          terminationGracePeriodSeconds: 1
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: { type: RuntimeDefault }

    persistence:
      data:
        enabled: true
        retain: true
        accessMode: ReadWriteOnce
        storageClass: longhorn-ssd
        size: 8Gi
        globalMounts:
          - path: /app/data
