# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: watch-your-lan
  namespace: watch-your-lan
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      watch-your-lan:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/aceberg/watchyourlan
              tag: 2.1.4@sha256:f77532ca7c3c9a4398cb094df7674013a3d7fcf4699386f1e456c24df6fef00e
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              ARP_STRS_JOINED: -gNx ${internal_subnet} -I net1
              THEME: journal
              USE_DB: postgres
              PROMETHEUS_ENABLE: "true"
              PG_CONNECT:
                secretKeyRef:
                  name: postgresql-app
                  key: uri
              SHOUTRRR_URL: ${shoutrrr_url}
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: ipvlan
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"

    service:
      watch-your-lan:
        controller: watch-your-lan
        ports:
          http:
            port: 8840

    persistence:
      data:
        type: emptyDir

    route:
      watch-your-lan:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/watch-your-lan/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc

    serviceMonitor:
      main:
        enabled: true
        serviceName: watch-your-lan
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 2m
            scrapeTimeout: 10s
