apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: internal-dns
  namespace: external-dns
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: external-dns
      version: 1.19.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: external-dns
      interval: 1h
  # TODO: Enable schema validation when new chart version is released
  install:
    disableSchemaValidation: true
  upgrade:
    disableSchemaValidation: true
  values:
    fullnameOverride: internal-dns

    deploymentAnnotations:
      secret.reloader.stakater.com/reload: cloudflare,substitutions

    podLabels:
      policy.gabe565.com/egress-kubeapi: "true"
      policy.gabe565.com/egress-world: "true"

    priorityClassName: system-cluster-critical

    provider:
      name: cloudflare
    interval: 1h
    triggerLoopOnEvent: true
    sources: [service, ingress, gateway-httproute]
    policy: sync

    txtOwnerId: gabernetes-internal
    env:
      - name: CF_API_TOKEN
        valueFrom:
          secretKeyRef:
            name: cloudflare
            key: token
      - name: EXTERNAL_DNS_INGRESS_CLASS
        value: nginx-internal
      - name: EXTERNAL_DNS_GATEWAY_NAME
        value: envoy-private
      - name: EXTERNAL_DNS_TXT_ENCRYPT_ENABLED
        value: "true"
      # https://github.com/kubernetes-sigs/external-dns/issues/5010#issuecomment-2640511737
      - name: EXTERNAL_DNS_TXT_PREFIX
        value: extdns-%{record_type}.
      - name: EXTERNAL_DNS_TXT_ENCRYPT_AES_KEY
        valueFrom:
          secretKeyRef:
            name: substitutions
            key: txt_encrypt_aes_key
