apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx-internal
  namespace: ingress-nginx-internal
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: ingress-nginx
      version: 4.14.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: ingress-nginx
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: defaults
  values:
    controller:
      podLabels:
        policy.gabe565.com/ingress-world: "false"
        policy.gabe565.com/ingress-tailscale: "true"

      ingressClass: internal-nginx-internal
      ingressClassResource:
        name: nginx-internal
        controllerValue: k8s.io/ingress-nginx-internal

      service:
        type: LoadBalancer
        loadBalancerClass: tailscale
        annotations:
          tailscale.com/expose: "true"
          tailscale.com/hostname: ingress-nginx-internal

    defaultBackend:
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.3.2@sha256:e7133e4faf97675c00ad9150c98ec1a867ae91ece5131a7eb218b868ce5a628d
