apiVersion: v1
kind: ConfigMap
metadata:
  name: defaults
data:
  # language=yaml
  values.yaml: |
    rbac:
      create: true

    controller:
      priorityClassName: system-cluster-critical

      extraArgs:
        update-status-on-shutdown: "false"

      podLabels:
        policy.gabe565.com/egress-geoip: "true"
        policy.gabe565.com/egress-kubeapi: "true"
        policy.gabe565.com/egress-namespace: "true"
        policy.gabe565.com/egress-world-with-lan: "true"
        policy.gabe565.com/ingress-nodes: "true"
        policy.gabe565.com/ingress-prometheus: "true"
        policy.gabe565.com/ingress-world: "true"

      allowSnippetAnnotations: true

      config:
        annotations-risk-level: Critical
        proxy-buffer-size: 16k
        proxy-busy-buffers-size: 16k
        use-gzip: "true"
        enable-brotli: "true"
        hsts-max-age: "31536000"
        hsts-preload: "true"
        disable-ipv6: "true"
        disable-ipv6-dns: "true"
        keep-alive-requests: "1000"
        custom-http-errors: 401,403,404,500,501,502,503,504

      extraEnvs:
        - name: TZ
          value: America/Chicago

      addHeaders:
        Referrer-Policy: same-origin, strict-origin-when-cross-origin
        X-Content-Type-Options: nosniff
        X-Frame-Options: DENY

      admissionWebhooks:
        labels:
          policy.gabe565.com/egress-kubeapi: "true"
        patch:
          labels:
            policy.gabe565.com/egress-kubeapi: "true"

    defaultBackend:
      enabled: true
      image:
        pullPolicy: IfNotPresent
      extraEnvs:
        - name: TEMPLATE_NAME
          value: connection
        - name: SHOW_DETAILS
          value: "true"
        - name: READ_BUFFER_SIZE
          value: "8192"
        - name: SEND_SAME_HTTP_CODE
          value: "true"
      podLabels:
        policy.gabe565.com/ingress-namespace: "true"
