# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
  namespace: homepage
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      homepage:
        annotations:
          configmap.reloader.stakater.com/reload: homepage-config
          secret.reloader.stakater.com/reload: homepage-env
        strategy: RollingUpdate
        serviceAccount:
          identifier: default
        containers:
          app:
            image:
              repository: ghcr.io/gethomepage/homepage
              tag: v1.8.0@sha256:7dc099d5c6ec7fc945d858218565925b01ff8a60bcbfda990fc680a8b5cd0b6e
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              HOMEPAGE_ALLOWED_HOSTS: "*"
            envFrom:
              - secretRef:
                  name: homepage-env
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-adguard-api: "true"
            policy.gabe565.com/egress-authentik: "true"
            policy.gabe565.com/egress-healthchecks: "true"
            policy.gabe565.com/egress-home-assistant: "true"
            policy.gabe565.com/egress-immich: "true"
            policy.gabe565.com/egress-kubeapi: "true"
            policy.gabe565.com/egress-lidarr: "true"
            policy.gabe565.com/egress-miniflux: "true"
            policy.gabe565.com/egress-nightscout: "true"
            policy.gabe565.com/egress-overseerr: "true"
            policy.gabe565.com/egress-plex: "true"
            policy.gabe565.com/egress-prowlarr: "true"
            policy.gabe565.com/egress-qbittorrent: "true"
            policy.gabe565.com/egress-radarr: "true"
            policy.gabe565.com/egress-shlink: "true"
            policy.gabe565.com/egress-sonarr: "true"
            policy.gabe565.com/egress-tandoor: "true"
            policy.gabe565.com/egress-tautulli: "true"
            policy.gabe565.com/egress-uptime-kuma: "true"
            policy.gabe565.com/egress-world-with-lan: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      homepage:
        controller: homepage
        ports:
          http:
            port: 3000

    persistence:
      config:
        type: configMap
        name: homepage-config
        globalMounts:
          - path: /app/config
      logs:
        type: emptyDir
        globalMounts:
          - path: /app/config/logs

    route:
      homepage:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - name: private
            backendRefs: &backendRefs
              - identifier: homepage
          - name: public
            matches:
              - path:
                  type: Exact
                  value: /api/healthcheck
            backendRefs: *backendRefs

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
                sectionName: private
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/homepage/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]

    serviceAccount:
      default:
        enabled: true

    rbac:
      roles:
        homepage:
          enabled: true
          type: ClusterRole
          rules:
            - apiGroups: [""]
              verbs: [get, list]
              resources: [namespaces, pods, nodes]
            - apiGroups: [extensions, networking.k8s.io]
              verbs: [get, list]
              resources: [ingresses]
            - apiGroups: [metrics.k8s.io]
              verbs: [get, list]
              resources: [nodes, pods]
      bindings:
        homepage:
          enabled: true
          type: ClusterRoleBinding
          roleRef:
            identifier: homepage
          subjects:
            - identifier: default
