# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: miniflux
  namespace: miniflux
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      miniflux:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.14@sha256:02e50d5b277857e3600c14ec1a6a064a82320077914d8eb546691a5f4c1d406c
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago

              DATABASE_URL:
                secretKeyRef:
                  name: postgresql-app
                  key: uri
              RUN_MIGRATIONS: "1"

              POLLING_SCHEDULER: entry_frequency

              CREATE_ADMIN: "0"
              OAUTH2_PROVIDER: oidc
              OAUTH2_CLIENT_ID: ${oauth2_client_id}
              OAUTH2_CLIENT_SECRET: ${oauth2_client_secret}
              OAUTH2_REDIRECT_URL: https://${app_url}/oauth2/oidc/callback
              OAUTH2_OIDC_DISCOVERY_ENDPOINT: https://${auth_host}/application/o/miniflux/
              OAUTH2_USER_CREATION: "1"
              DISABLE_LOCAL_AUTH: "true"

              METRICS_COLLECTOR: "1"
              METRICS_ALLOWED_NETWORKS: 0.0.0.0/0

              FETCH_YOUTUBE_WATCH_TIME: "1"
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /liveness
              readiness:
                <<: *probe
                path: /readiness
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-nginx: "true"
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    persistence:
      tmp:
        type: emptyDir

    service:
      miniflux:
        controller: miniflux
        ports:
          http:
            port: 8080

    route:
      miniflux:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: miniflux
          # Block metrics
          - matches:
              - path:
                  type: Exact
                  value: /metrics
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: respond-403

    serviceMonitor:
      main:
        enabled: true
        serviceName: miniflux
        endpoints:
         - port: http
           scheme: http
           path: /metrics
           interval: 1m
           scrapeTimeout: 10s
