# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: miniflux
  namespace: miniflux
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      miniflux:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/miniflux/miniflux
              tag: 2.2.15@sha256:9a1f95a7a05b77040d19bb7be96194af4c222de02fb84165fb808f65700c064f
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago

              DATABASE_URL:
                secretKeyRef:
                  name: postgresql-app
                  key: uri
              RUN_MIGRATIONS: "1"

              POLLING_SCHEDULER: entry_frequency

              CREATE_ADMIN: "0"
              AUTH_PROXY_HEADER: X-User-Name
              AUTH_PROXY_USER_CREATION: "1"
              DISABLE_LOCAL_AUTH: "true"

              METRICS_COLLECTOR: "1"
              METRICS_ALLOWED_NETWORKS: 0.0.0.0/0

              FETCH_YOUTUBE_WATCH_TIME: "1"
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /liveness
              readiness:
                <<: *probe
                path: /readiness
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    persistence:
      tmp:
        type: emptyDir

    service:
      miniflux:
        controller: miniflux
        ports:
          http:
            port: 8080

    route:
      miniflux:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - name: private
            backendRefs:
              - identifier: miniflux
          - name: public
            matches:
              - path:
                  type: PathPrefix
                  value: /healthcheck
              - path:
                  type: PathPrefix
                  value: /v1
            backendRefs:
              - identifier: miniflux

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
                sectionName: private
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/miniflux/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access, profile]
              forwardAccessToken: true
            jwt:
              optional: true
              providers:
                - name: extract-user-info
                  remoteJWKS:
                    uri: https://${oidc_host}/application/o/miniflux/jwks/
                  claimToHeaders:
                    - claim: preferred_username
                      header: X-User-Name

    serviceMonitor:
      main:
        enabled: true
        serviceName: miniflux
        endpoints:
         - port: http
           scheme: http
           path: /metrics
           interval: 1m
           scrapeTimeout: 10s
