# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2beta2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headplane
  namespace: headscale
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      headplane:
        annotations:
          secret.reloader.stakater.com/reload: headplane-config
        containers:
          app:
            image:
              repository: ghcr.io/tale/headplane
              tag: 0.6.1@sha256:74bec8f23ce57f235574b7b3e809a0d9ca500947da45dac485b5132fa4cc9fab
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /admin/healthz
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
        pod:
          terminationGracePeriodSeconds: 1
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"

    service:
      headplane:
        controller: headplane
        ports:
          http:
            port: 3001

    persistence:
      config:
        type: secret
        name: headplane-config
        globalMounts:
          - path: /etc/headplane
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 1Gi
        retain: true
        globalMounts:
          - path: /var/lib/headplane
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
        globalMounts:
          - path: /tmp
            subPath: tmp

    route:
      headplane:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /admin
            backendRefs:
              - identifier: headplane
