apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: generic-device-plugin
  namespace: generic-device-plugin
spec:
  chart:
    spec:
      chart: generic-device-plugin
      version: 0.1.3
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: gabe565
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    image:
      repository: ghcr.io/squat/generic-device-plugin
      tag: latest@sha256:0cf725e91c3eb2ea095e8d825f290b9de5dc97110c82d0e92a76bf94618a8f50

    config:
      # language=yaml
      data: |
        devices:
          - name: zigbee
            groups:
              - paths:
                  - path: /dev/serial/by-id/usb-Texas_Instruments_XDS110__03.00.00.20__Embed_with_CMSIS-DAP_L1100C4M-if00
          - name: zwave
            groups:
              - paths:
                  - path: /dev/serial/by-id/usb-0658_0200-if00
          - name: tun
            groups:
              - paths:
                  - path: /dev/net/tun

    podLabels:
      policy.gabe565.com/egress-kubeapi: "true"
      policy.gabe565.com/ingress-prometheus: "true"

    serviceMonitor:
      main:
        enabled: true
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
