# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zwave-js-ui
  namespace: zwave-js-ui
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      zwave-js-ui:
        annotations:
          secret.reloader.stakater.com/reload: internal-tls
        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.8.1@sha256:de3d4c1ea989a30e709207f05decb3eb60798573112f8d1e8c5171222440d0f6
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              HTTPS: "true"
              SSL_CERTIFICATE: /tls/tls.crt
              SSL_KEY: /tls/tls.key
              TRUST_PROXY: 10.42.0.0/16
            resources:
              requests:
                squat.ai/zwave: 1
              limits:
                squat.ai/zwave: 1
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet: &httpGet
                    port: 8091
                    scheme: HTTPS
                    path: /health
                    httpHeaders:
                      - name: Accept
                        value: text/plain
              readiness: *probe
              startup:
                <<: *probe
                enabled: true
                spec:
                  httpGet: *httpGet
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-home-assistant: "true"
            policy.gabe565.com/ingress-nginx: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    persistence:
      config:
        enabled: true
        accessMode: ReadWriteOnce
        size: 128Mi
        globalMounts:
          - path: /usr/src/app/store
      data:
        enabled: true
        type: emptyDir
      tls:
        type: secret
        name: internal-tls

    service:
      zwave-js-ui:
        controller: zwave-js-ui
        ports:
          http:
            primary: true
            port: 8091
          websocket:
            port: 3000

    ingress:
      zwave-js-ui:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/auth-url: |-
            http://ak-outpost-gabernetes.authentik.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx
          nginx.ingress.kubernetes.io/auth-signin: |-
            https://$host/outpost.goauthentik.io/start?rd=$scheme://$http_host$escaped_request_uri
          nginx.ingress.kubernetes.io/auth-response-headers: |-
            Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid
          nginx.ingress.kubernetes.io/auth-snippet: |
            proxy_set_header X-Forwarded-Host $http_host;
        hosts:
          - host: ${app_url}
            paths:
              - path: /
                service:
                  identifier: zwave-js-ui
                  port: http
        tls: &tls
          - secretName: ${certificate_name}
            hosts:
              - ${app_url}
      remove-sw:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/configuration-snippet: |
            add_header Content-Type application/javascript;
            return 200 "self.addEventListener('install', event => { event.waitUntil(self.skipWaiting()) })";
        hosts:
          - host: ${app_url}
            paths:
              - path: /sw.js
                pathType: ImplementationSpecific
                service:
                  identifier: zwave-js-ui
                  port: http
        tls: *tls
