# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zwave-js-ui
  namespace: zwave-js-ui
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      zwave-js-ui:
        containers:
          app:
            image:
              repository: ghcr.io/zwave-js/zwave-js-ui
              tag: 11.9.1@sha256:a7036e59a9d7916d1f92f2fa1e0b9f4a5ed317fc8bef38756368f7c865e0e95a
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              FORCE_DISABLE_SSL: "true"
              TRUST_PROXY: 10.42.0.0/16
            resources:
              requests:
                squat.ai/zwave: 1
              limits:
                squat.ai/zwave: 1
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet: &httpGet
                    port: 8091
                    scheme: HTTP
                    path: /health
                    httpHeaders:
                      - name: Accept
                        value: text/plain
              readiness: *probe
              startup:
                <<: *probe
                enabled: true
                spec:
                  httpGet: *httpGet
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-home-assistant: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    persistence:
      config:
        suffix: config
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 128Mi
        retain: true
        globalMounts:
          - path: /usr/src/app/store
      data:
        type: emptyDir

    service:
      zwave-js-ui:
        controller: zwave-js-ui
        ports:
          http:
            primary: true
            port: 8091
          websocket:
            port: 3000

    route:
      zwave-js-ui:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: zwave-js-ui
          # Service worker
          - matches:
              - path:
                  type: Exact
                  value: /sw.js
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: zwave-js-ui-service-worker

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/zwave-js-ui/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
      service-worker:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: HTTPRouteFilter
        spec:
          spec:
            directResponse:
              contentType: application/javascript
              statusCode: 200
              body:
                type: Inline
                inline: |
                  self.addEventListener('install', event => { event.waitUntil(self.skipWaiting()) });
