# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: minio
  namespace: minio
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      minio:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: git.gabe565.com/mirror/minio
              tag: release.2025-10-17t06-17-41z@sha256:aa53e9aa2a309e00e0fd114b2c385aeeeb0aa378aee57196cfb46ec0f70b4f92
              pullPolicy: IfNotPresent
            env:
              MINIO_SITE_NAME: us-central-1
              MINIO_UPDATE: "off"
              MINIO_DOMAIN: ${s3_url}
              MINIO_SERVER_URL: http://127.0.0.1:9000
              MINIO_BROWSER_REDIRECT: "false"
              MINIO_BROWSER_REDIRECT_URL: https://${app_url}
              MINIO_API_CORS_ALLOW_ORIGIN: https://${app_url},https://${s3_url}
              MINIO_API_ROOT_ACCESS: "off"
              MINIO_SCANNER_SPEED: slowest
              MINIO_IDENTITY_OPENID_DISPLAY_NAME: Login with Authentik
              MINIO_IDENTITY_OPENID_CONFIG_URL: https://${oidc_host}/application/o/minio/.well-known/openid-configuration
              MINIO_IDENTITY_OPENID_CLIENT_ID: ${oidc_client_id}
              MINIO_IDENTITY_OPENID_CLIENT_SECRET: ${oidc_client_secret}
              MINIO_IDENTITY_OPENID_SCOPES: openid,profile,email,offline_access,minio
              MINIO_PROMETHEUS_JOB_ID: minio
              MINIO_PROMETHEUS_URL: http://kube-prometheus-stack-prometheus.prometheus:9090
              MINIO_PROMETHEUS_AUTH_TYPE: public
            args:
              - server
              - /data
              - --console-address=:9001
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /minio/health/live
              readiness: *probe
              startup:
                << : *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          imagePullSecrets:
            - name: gitea
          labels:
            policy.gabe565.com/egress-authentik: "true"
            policy.gabe565.com/egress-prometheus: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-prometheus: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
          hostAliases:
            - ip: 10.43.0.20
              hostnames:
                - ${oidc_host}

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteMany
        size: 8Gi
        retain: true

    service:
      minio:
        controller: minio
        ports:
          http:
            primary: true
            port: 9001
          s3:
            port: 9000

    route:
      s3:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${s3_url}
          - "*.${s3_url}"
        rules:
          - backendRefs:
              - identifier: minio
                port: 9000
          # Block metrics
          - matches:
              - path:
                  type: PathPrefix
                  value: /minio/v2/metrics
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: respond-403
      admin:
        parentRefs: *parentRefs
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: minio
                port: 9001
          # Robots
          - matches:
              - path:
                  type: Exact
                  value: /robots.txt
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: robots-disallow

    serviceMonitor:
      main:
        serviceName: minio
        endpoints:
          - port: s3
            scheme: http
            path: /minio/v2/metrics/cluster
            interval: 1m
