# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: relax-sounds
  namespace: relax-sounds
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      relax-sounds:
        strategy: Recreate
        containers:
          main:
            image:
              repository: ghcr.io/gabe565/relax-sounds
              tag: 1.8.0@sha256:b8ce5cb04b708501f3a4d880c95eb443f4591a2714f572e2367f6d43273d9724
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              RELAX_VALKEY_ENABLED: "true"
              RELAX_VALKEY_HOST: valkey
              RELAX_VALKEY_PASSWORD:
                secretKeyRef:
                  name: valkey
                  key: valkey-password
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/ingress-nginx: "true"
            policy.gabe565.com/ingress-prometheus: "true"
          securityContext:
            runAsNonRoot: true
            fsGroup: 1000

    service:
      relax-sounds:
        ports:
          http:
            port: 80
          metrics:
            port: 9090

    ingress:
      relax-sounds:
        enabled: true
        annotations:
          nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
          nginx.ingress.kubernetes.io/proxy-body-size: 20M
        hosts:
          - host: ${app_url}
            paths:
              - path: /
                service:
                  identifier: relax-sounds
                  port: http
        tls:
          - secretName: ${certificate_name}
            hosts:
              - ${app_url}
              - www.${app_url}

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 8Gi
        retain: true
      tmp:
        enabled: true
        type: emptyDir

    serviceMonitor:
      relax-sounds:
        enabled: true
        endpoints:
          - port: metrics
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
