apiVersion: source.toolkit.fluxcd.io/v1
kind: OCIRepository
metadata:
  name: flux-manifests
  namespace: flux-system
spec:
  interval: 1h
  url: oci://ghcr.io/fluxcd/flux-manifests
  ref:
    tag: v2.8.0
---
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: flux
  namespace: flux-system
spec:
  interval: 1h
  path: ./
  prune: true
  wait: true
  sourceRef:
    kind: OCIRepository
    name: flux-manifests
  patches:
    # Remove image update controllers
    - target:
        kind: Deployment
        name: image-.*-controller
      # language=yaml
      patch: |
        $patch: delete
        apiVersion: apps/v1
        kind: Deployment
        metadata:
          name: not-used
    - target:
        kind: CustomResourceDefinition
        name: .*.image.toolkit.fluxcd.io
      # language=yaml
      patch: |
        $patch: delete
        apiVersion: apiextensions.k8s.io/v1
        kind: CustomResourceDefinition
        metadata:
          name: not-used
    - target:
        kind: ServiceAccount
        name: image-.*-controller
      # language=yaml
      patch: |
        $patch: delete
        apiVersion: v1
        kind: ServiceAccount
        metadata:
          name: not-used
    - target:
        kind: Deployment
        name: notification-controller
      # language=yaml
      patch: |
        - op: add
          path: /spec/template/metadata/labels/policy.gabe565.com~1ingress-envoy-public
          value: "true"
