# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: mosquitto
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      mosquitto:
        annotations:
          secret.reloader.stakater.com/reload: mosquitto-auth,mosquitto-tls
        containers:
          app:
            image:
              repository: eclipse-mosquitto
              tag: 2.0.22@sha256:077fe4ff4c49df1e860c98335c77dda08360629e0e2a718147027e4db3eace9d
              pullPolicy: IfNotPresent
            command: [mosquitto, -c, /mosquitto/config/mosquitto.conf]
            env:
              TZ: America/Chicago
            probes:
              liveness: &probe
                enabled: true
                port: 1883
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
              runAsUser: 1883
              runAsGroup: 1883
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod:
          securityContext:
            fsGroup: 1883
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-world: "true"

    service:
      mosquitto:
        controller: mosquitto
        type: LoadBalancer
        loadBalancerIP: 192.168.1.226
        externalTrafficPolicy: Local
        annotations:
          external-dns.alpha.kubernetes.io/hostname: ${app_url}
        ports:
          mqtts:
            port: 8883

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 64Mi
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/data
      config:
        type: configMap
        identifier: config
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
      auth:
        type: secret
        name: mosquitto-auth
        defaultMode: 0o440
      tls:
        type: secret
        name: mosquitto-tls

    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            per_listener_settings false

            listener 1883
            listener 8883

            allow_anonymous false

            persistence true
            persistence_location /mosquitto/data
            autosave_interval 1800

            cafile /tls/ca.crt
            certfile /tls/tls.crt
            keyfile /tls/tls.key

            log_dest stderr
            log_type error
            log_type warning

            require_certificate true
            use_identity_as_username true
            acl_file /auth/acl
