# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
  namespace: karakeep
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      main:
        annotations:
          secret.reloader.stakater.com/reload: browserless
        containers:
          karakeep:
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.29.0@sha256:be023336ed2ffb4c82209b068fd68f31e33b4a365e8222f8e8fbb499085c00af
              pullPolicy: IfNotPresent
            envFrom:
              - secretRef:
                  name: karakeep
            env:
              TZ: America/Chicago
              S6_READ_ONLY_ROOT: "1"
              S6_YES_I_WANT_A_WORLD_WRITABLE_RUN_BECAUSE_KUBERNETES: "1"
              DATA_DIR: /data
              DISABLE_NEW_RELEASE_CHECK: "true"
              NEXTAUTH_URL: https://${app_url}
              MEILI_ADDR: http://meilisearch:7700
              MEILI_MASTER_KEY:
                secretKeyRef:
                  name: meilisearch
                  key: MEILI_MASTER_KEY
              BROWSER_TOKEN:
                secretKeyRef:
                  name: browserless
                  key: token
              BROWSER_WEBSOCKET_URL:
                value: >-
                  {{- $launch := dict "headless" false  "stealth"  true  "args" (list "--window-size=1920,1080" "--force-color-profile=srgb") -}}
                  ws://browserless.browserless/chromium/playwright?token=$(BROWSER_TOKEN)&blockAds=true&launch={{ toJson $launch }}
                dependsOn: BROWSER_TOKEN
              BROWSER_CONNECT_ONDEMAND: "true"
              CRAWLER_DOWNLOAD_BANNER_IMAGE: "true"
              DISABLE_PASSWORD_AUTH: "true"
              OAUTH_PROVIDER_NAME: Authentik
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-browserless: "true"
            policy.gabe565.com/egress-envoy-public: "true"
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
            seccompProfile: {type: RuntimeDefault}

    service:
      main:
        controller: main
        ports:
          http:
            port: 3000

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 8Gi
        retain: true
      tmp:
        type: emptyDir
        medium: Memory
      run:
        type: emptyDir
        medium: Memory
        sizeLimit: 64Mi
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/apps/web/.next/cache

    route:
      app:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
