# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.2.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: karakeep
  namespace: karakeep
spec:
  chart:
    spec:
      chart: app-template
      version: 4.2.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      main:
        annotations:
          secret.reloader.stakater.com/reload: browserless
        initContainers:
          migrate: &karakeep
            image:
              repository: ghcr.io/karakeep-app/karakeep
              tag: 0.28.0@sha256:cd2348520ba25bbee64199468cd41758ab325eecd6a3a5c40cd6443a1607f9e9
              pullPolicy: IfNotPresent
            workingDir: /db_migrations
            command:
              - node
              - index.js
            envFrom:
              - secretRef:
                  name: karakeep
            env:
              TZ: America/Chicago
              DATA_DIR: /data
              DISABLE_NEW_RELEASE_CHECK: "true"
              NEXTAUTH_URL: https://${app_url}
              MEILI_ADDR: http://meilisearch:7700
              MEILI_MASTER_KEY:
                secretKeyRef:
                  name: meilisearch
                  key: MEILI_MASTER_KEY
              BROWSER_TOKEN:
                secretKeyRef:
                  name: browserless
                  key: token
              BROWSER_WEBSOCKET_URL:
                value: >-
                  {{- $launch := dict "headless" "false" "stealth" "true" "args" (list "--window-size=1920,1080" "--force-color-profile=srgb") -}}
                  ws://browserless.browserless/chromium/playwright?token=$(BROWSER_TOKEN)&blockAds=true&launch={{ toJson $launch }}
                dependsOn: BROWSER_TOKEN
              BROWSER_CONNECT_ONDEMAND: "true"
              CRAWLER_DOWNLOAD_BANNER_IMAGE: "true"
              DISABLE_PASSWORD_AUTH: "true"
              OAUTH_PROVIDER_NAME: Authentik
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        containers:
          web:
            <<: *karakeep
            workingDir: /app/apps/web
            command:
              - node
              - server.js
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
          worker:
            <<: *karakeep
            workingDir: /app/apps/workers
            command:
              - npm
              - run
              - start:prod
        pod:
          labels:
            policy.gabe565.com/egress-browserless: "true"
            policy.gabe565.com/egress-nginx: "true"
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-nginx: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
            seccompProfile: {type: RuntimeDefault}

    service:
      main:
        controller: main
        ports:
          http:
            port: 3000

    persistence:
      data:
        suffix: data
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 8Gi
        retain: true
      tmp:
        type: emptyDir
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/apps/web/.next/cache

    ingress:
      main:
        hosts:
          - host: ${app_url}
            paths:
              - path: /
                service:
                  identifier: main
                  port: http
        tls:
          - secretName: ${certificate_name}
            hosts:
              - ${app_url}
