# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: your-spotify
  namespace: your-spotify
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      server:
        strategy: RollingUpdate
        containers:
          server:
            image:
              repository: ghcr.io/yooooomi/your_spotify_server
              tag: 1.15.0@sha256:3679ea122e2083703a3f8c1199acf4b1bb81c81da33334bdcaf478bfbbf36e9b
              pullPolicy: IfNotPresent
            workingDir: /app/apps/server
            command:
              - sh
              - -c
              - |
                set -eux
                yarn migrate
                exec yarn start
            env:
              TIMEZONE: America/Chicago
              API_ENDPOINT: https://${app_url}/api
              CLIENT_ENDPOINT: https://${app_url}
              SPOTIFY_PUBLIC: ${spotify_public}
              SPOTIFY_SECRET: ${spotify_secret}
              MONGO_NO_ADMIN_RIGHTS: "true"
              DB_PASSWORD:
                secretKeyRef:
                  name: mongodb
                  key: mongodb-passwords
              MONGO_ENDPOINT: mongodb://your-spotify:$(DB_PASSWORD)@mongodb/your-spotify
            probes: &probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod: &pod
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            runAsNonRoot: true
            seccompProfile: {type: RuntimeDefault}
      client:
        strategy: RollingUpdate
        initContainers:
          cp-build:
            image: &clientImage
              repository: ghcr.io/yooooomi/your_spotify_client
              tag: 1.15.0@sha256:46a6fad7df40858b87bf5ac80efb8ff4d604aa63683245d21f6fdfcb0ea083e5
              pullPolicy: IfNotPresent
            command:
              - cp
              - -a
              - apps/client/build/.
              - /build
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
          template:
            image: *clientImage
            env:
              API_ENDPOINT: https://${app_url}/api
            command:
              - sh
              - -c
              - sh apps/client/scripts/run/variables.sh || true
            securityContext:
              <<: *securityContext
              readOnlyRootFilesystem: true
        containers:
          client:
            image:
              repository: ghcr.io/nginx/nginx-unprivileged
              tag: stable-alpine
              pullPolicy: IfNotPresent
            probes: *probes
            securityContext: *securityContext
        pod: *pod

    service:
      server:
        controller: server
        ports:
          http:
            port: 8080
      client:
        controller: client
        ports:
          http:
            port: 3000

    persistence:
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi
      client-build:
        type: emptyDir
        advancedMounts:
          client:
            cp-build:
              - path: /build
            template:
              - path: /app/apps/client/build
            client:
              - path: /build
                readOnly: true
      nginx:
        type: configMap
        identifier: nginx
        advancedMounts:
          client:
            client:
              - path: /etc/nginx/conf.d/default.conf
                subPath: default.conf

    configMaps:
      nginx:
        enabled: true
        data:
          # language=nginx configuration
          default.conf: |
            server {
              listen 3000;
              server_name localhost;
              location / {
                root /build;
                try_files $uri /index.html;
              }
            }

    route:
      your-spotify:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: client
          - matches:
              - path:
                  type: PathPrefix
                  value: /api
            filters:
              - type: URLRewrite
                urlRewrite:
                  path:
                    type: ReplacePrefixMatch
                    replacePrefixMatch: /
            backendRefs:
              - identifier: server

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/your-spotify/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
