# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-assistant
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      home-assistant:
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2026.1.3@sha256:c36741490472518338323db8ee67775d7df70d2fa1f68eff9b9e63679fe64a18
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              DATABASE_URL:
                secretKeyRef:
                  name: postgresql-app
                  key: uri
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          annotations:
            k8s.v1.cni.cncf.io/networks: ipvlan
          labels:
            policy.gabe565.com/egress-mosquitto: "true"
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-nightscout: "true"
            policy.gabe565.com/egress-nodes: "true"
            policy.gabe565.com/egress-tronbyt: "true"
            policy.gabe565.com/egress-world-with-lan: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-world: "true"
          affinity: &affinity
            podAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 100
                  podAffinityTerm:
                    topologyKey: kubernetes.io/hostname
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: home-assistant
      code:
        containers:
          app:
            image:
              repository: ghcr.io/coder/code-server
              tag: 4.109.2@sha256:1b84cd817fe8eb1159323ae9d2f29b3c70c6ccd44958d651a94900cf7f0ff9c4
              pullPolicy: IfNotPresent
            args:
              - --disable-telemetry
              - --disable-update-check
              - --auth=none
              - --user-data-dir=/config/.vscode
              - /config
            resources:
              requests:
                cpu: 0m
                memory: 50Mi
              limits:
                cpu: 500m
                memory: 500Mi
            securityContext:
              readOnlyRootFilesystem: true
              runAsUser: 0
        pod:
          labels:
            policy.gabe565.com/ingress-envoy-public: "true"
          affinity: *affinity

    persistence:
      config:
        suffix: config
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 2Gi
        retain: true
      tmp:
        type: emptyDir
      cache:
        type: emptyDir
        globalMounts:
          - path: /root/.cache
            subPath: root/.cache
          - path: /root/.local
            subPath: root/.local
          - path: /run
            subPath: run
      code-config:
        type: emptyDir
        advancedMounts:
          code:
            app:
              - path: /root/.config

    service:
      home-assistant:
        controller: home-assistant
        primary: true
        ports:
          http:
            port: 8123
      code:
        controller: code
        ports:
          http:
            port: 8080

    route:
      app:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: home-assistant
      code:
        parentRefs: *parentRefs
        hostnames:
          - ${code_url}
        rules:
          - backendRefs:
              - identifier: code

    rawResources:
      code-allowlist:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-code"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/change-detection/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
