apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: longhorn
  namespace: longhorn-system
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: longhorn
      version: 1.11.0
      sourceRef:
        kind: HelmRepository
        namespace: longhorn-system
        name: longhorn
      interval: 1h
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  values:
    persistence:
      defaultClassReplicaCount: 2
    defaultSettings:
      priorityClass: system-cluster-critical
      logLevel: Warn
    longhornManager:
      priorityClass: system-cluster-critical
    longhornDriver:
      priorityClass: system-cluster-critical
