# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.5.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: adguard-home
  namespace: adguard-home
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      adguard-home:
        type: statefulset
        replicas: 2
        containers:
          app:
            image:
              repository: adguard/adguardhome
              tag: v0.107.71@sha256:92929135ced2554aaf94706f766a98ad348f211df61b0704e2db7e8498cc00b7
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                port: 3000
                path: /login.html
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
        pod:
          priorityClassName: system-cluster-critical
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-namespace: "true"
          securityContext:
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
          affinity:
            podAntiAffinity:
              preferredDuringSchedulingIgnoredDuringExecution:
                - weight: 1
                  podAffinityTerm:
                    topologyKey: kubernetes.io/hostname
                    labelSelector:
                      matchLabels:
                        app.kubernetes.io/name: adguard-home
                        app.kubernetes.io/component: adguard-home
        statefulset:
          volumeClaimTemplates:
            - name: data
              storageClass: longhorn-ssd
              accessMode: ReadWriteOnce
              size: 2Gi
              globalMounts:
                - path: /opt/adguardhome/conf
                  subPath: conf
                - path: /opt/adguardhome/work
                  subPath: work
      sync:
        containers:
          app:
            image:
              repository: ghcr.io/bakito/adguardhome-sync
              tag: alpine-v0.8.2@sha256:4a7f4195b15c923f0a9338220d693665162aeea3b8d8a85709c84669382629c5
              pullPolicy: IfNotPresent
            args: [run]
            env:
              ORIGIN_URL: http://adguard-home-origin:3000
              ORIGIN_WEB_URL: https://${app_url}
              ORIGIN_USERNAME: ${sync_username}
              ORIGIN_PASSWORD: ${sync_password}
              REPLICA_URL: http://adguard-home-replica:3000
              REPLICA_WEB_URL: https://replica.${app_url}
              REPLICA_USERNAME: ${sync_username}
              REPLICA_PASSWORD: ${sync_password}
              REPLICA_AUTO_SETUP: "true"
              CRON: "*/10 * * * *"
            securityContext:
              readOnlyRootFilesystem: true
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
          securityContext:
            runAsNonRoot: true

    service:
      adguard-home:
        controller: adguard-home
        ports:
          http:
            port: 3000
      sync:
        controller: sync
        ports:
          http:
            port: 8080
      origin: &origin-http
        controller: adguard-home
        extraSelectorLabels:
          apps.kubernetes.io/pod-index: "0"
        ports:
          http:
            port: 3000
      origin-dns: &origin-dns
        controller: adguard-home
        extraSelectorLabels:
          apps.kubernetes.io/pod-index: "0"
        type: LoadBalancer
        externalTrafficPolicy: Local
        loadBalancerIP: 192.168.1.221
        ports:
          dns-tcp:
            port: 53
            protocol: TCP
          dns-udp:
            port: 53
            protocol: UDP

      replica:
        <<: *origin-http
        extraSelectorLabels:
          apps.kubernetes.io/pod-index: "1"
      replica-dns:
        <<: *origin-dns
        extraSelectorLabels:
          apps.kubernetes.io/pod-index: "1"
        loadBalancerIP: 192.168.1.222

    route:
      origin:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: origin
      replica:
        parentRefs: *parentRefs
        hostnames:
          - replica.${app_url}
        rules:
          - backendRefs:
              - identifier: replica

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-origin"
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-replica"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/adguard-home/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
