apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: postgresql
  namespace: paperless-ngx
spec:
  instances: 3
  imageName: ghcr.io/cloudnative-pg/postgresql:16.4-6
  enableSuperuserAccess: true
  bootstrap:
    initdb:
      database: paperless-ngx
      owner: paperless-ngx
  storage:
    storageClass: local-path
    size: 8Gi
  resources:
    requests:
      memory: 50Mi
      cpu: 20m
  smartShutdownTimeout: 1
  stopDelay: 300
