apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cilium
  namespace: kube-system
spec:
  chart:
    spec:
      chart: cilium
      version: 1.19.1
      sourceRef:
        kind: HelmRepository
        namespace: kube-system
        name: cilium
  install:
    crds: Create
  upgrade:
    crds: CreateReplace
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    global:
      encryption:
        enabled: true
        nodeEncryption: true

    kubeProxyReplacement: true
    k8sServiceHost: 127.0.0.1
    k8sServicePort: 6444

    policyEnforcementMode: default

    hubble:
      metrics:
        enabled:
        - dns:query;ignoreAAAA
        - drop
        - tcp
        - flow
        - icmp
        - http

      ui:
        enabled: true
        replicas: 1
        podLabels:
          policy.gabe565.com/egress-nodes: "true"
          policy.gabe565.com/egress-namespace: "true"
          policy.gabe565.com/ingress-envoy-public: "true"

      relay:
        enabled: true
        podLabels:
          policy.gabe565.com/egress-nodes: "true"
          policy.gabe565.com/egress-namespace: "true"
          policy.gabe565.com/ingress-namespace: "true"

    operator:
      replicas: 1

    ipam:
      mode: cluster-pool
      operator:
        clusterPoolIPv4PodCIDRList: [10.42.0.0/16]
        clusterPoolIPv4MaskSize: 24

    dnsProxy:
      dnsRejectResponseCode: nameError

    cni:
      exclusive: false

    bpf:
      policyMapMax: 32768

    socketLB:
      hostNamespaceOnly: true

    devices: eno1
