# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: plex
  namespace: plex
spec:
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      plex:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/plex
              tag: 1.43.0.10467@sha256:fa62165df48d04e9a418805951e903f831dec0e0601f4dc4245f9948d7fd719b
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              PLEX_PURGE_CODECS: "true"
            resources:
              requests:
                gpu.intel.com/i915: 1
                memory: 100Mi
              limits:
                gpu.intel.com/i915: 1
                memory: 4Gi
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /identity
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-home-assistant: "true"
            policy.gabe565.com/ingress-world: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    persistence:
      config:
        suffix: config
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 16Gi
        retain: true
      data:
        type: nfs
        server: 192.168.1.240
        path: /volume1/media
      tmp:
        type: emptyDir
        sizeLimit: 32Gi
        globalMounts:
          - path: /tmp
            subPath: tmp
          - path: /config/Library/Application Support/Plex Media Server/Cache
            subPath: Cache
          - path: /config/Library/Application Support/Plex Media Server/Logs
            subPath: Logs

    service:
      plex:
        controller: plex
        type: LoadBalancer
        loadBalancerIP: 192.168.1.223
        externalTrafficPolicy: Local
        ports:
          http:
            port: 32400

    route:
      plex:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: plex
          - matches:
              - path:
                  type: Exact
                  value: /
            filters:
              - type: RequestRedirect
                requestRedirect:
                  statusCode: 302
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /web/index.html
