# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: tandoor
  namespace: tandoor
spec:
  chart:
    spec:
      chart: app-template
      version: 4.6.2
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      tandoor:
        strategy: RollingUpdate
        initContainers:
          collectstatic: &container
            image:
              repository: ghcr.io/tandoorrecipes/recipes
              tag: 2.4.0@sha256:0c220f403a398772f9b9eed018d263e7942e8a2d2593e4ee84bf36a41c4801ee
            command: [python, manage.py, collectstatic, --noinput]
            env:
              TZ: America/Chicago
              PATH: /opt/recipes/venv/bin:/usr/local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
              VIRTUAL_ENV: /opt/recipes/venv

              SECRET_KEY: ${secret_key}
              FRACTION_PREF_DEFAULT: "1"
              DEBUG: "0"

              DB_ENGINE: django.db.backends.postgresql
              POSTGRES_HOST: postgresql-rw
              POSTGRES_DB: tandoor
              POSTGRES_USER: tandoor
              POSTGRES_PASSWORD:
                secretKeyRef:
                  name: postgresql-app
                  key: password

              S3_ENDPOINT_URL: ${s3_url}
              S3_ACCESS_KEY: ${s3_access_key}
              S3_SECRET_ACCESS_KEY: ${s3_secret_key}
              S3_BUCKET_NAME: tandoor
              S3_REGION_NAME: us-central-1

              SOCIAL_PROVIDERS: allauth.socialaccount.providers.openid_connect
              # language=gotemplate
              SOCIALACCOUNT_PROVIDERS: |-
                {{- dict "openid_connect" (dict "SERVERS" (list (dict
                  "id" "authentik"
                  "name" "Authentik"
                  "server_url" "https://${oauth_host}/application/o/tandoor-recipes/.well-known/openid-configuration"
                  "token_auth_method" "client_secret_basic"
                  "APP" (dict
                    "client_id" "${oauth_client_id}"
                    "secret" "${oauth_client_secret}"
                  )
                ))) | toJson -}}
            securityContext:
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
              readOnlyRootFilesystem: true
          migrate:
            <<: *container
            command: [python, manage.py, migrate]
        containers:
          app:
            <<: *container
            command:
              - gunicorn
              - --bind=0.0.0.0:8080
              - --workers=1
              - --threads=2
              - --timeout=30
              - --error-logfile=-
              - recipes.wsgi
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true

        pod:
          enableServiceLinks: false
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      tandoor:
        controller: tandoor
        ports:
          http:
            port: 8080

    persistence:
      static:
        type: emptyDir
        advancedMounts:
          tandoor:
            collectstatic:
              - path: /opt/recipes/staticfiles
            app:
              - path: /opt/recipes/staticfiles
                readOnly: true
      tmp:
        type: emptyDir

    route:
      tandoor:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: tandoor
          - matches:
              - path:
                  type: PathPrefix
                  value: /accounts/login
            filters:
              - type: RequestRedirect
                requestRedirect:
                  statusCode: 302
                  path:
                    type: ReplaceFullPath
                    replaceFullPath: /accounts/oidc/authentik/login/?process=login&next=/
