/* Header */
.pf-c-login__main-header, .pf-c-login__main-header.ak-flow-executor {
    padding-top: 3rem;
}

.pf-c-login__main-header.ak-stage-identification {
    padding-top: 1rem;
}

/* Footer */
.pf-c-login__footer {
    display: none;
}

/* Modal window */
.pf-c-login__main, .pf-c-login__main.ak-flow-executor {
    overflow: auto;
    border-radius: 40px;
    background-color: #0008;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media (max-width: 560px) {
    .pr-c-login__main, .pf-c-login__main.ak-flow-executor {
        border-radius: 0;
    }
}

/* Title */
h1.pf-c-title.pf-m-3xl.style-scope {
    margin-bottom: 1rem;
    color: #eee;
}

/* Text inputs */
input.pf-c-form-control.style-scope, input.pf-c-form-control.style-scope:focus {
    padding: 20px;
    border: 0;
    border-radius: 20px;
    background-color: #0006;
}

/* Text input placeholders */
input.pf-c-form-control.style-scope.ak-stage-identification::placeholder {
    color: #bbb;
}

/* Text Input labels */
label.pf-c-form__label.style-scope.ak-form-element {
    display: none;
}

/* Buttons */
button.pf-c-button.pf-m-primary.pf-m-block {
    margin: 0 auto;
    width: 50%;
    border-radius: 20px;
    background-color: #3f4597;
}

/* Button parents */
.pf-c-form__group.pf-m-action {
    margin-top: 0 !important;
}

/* "Not you" link */
a.style-scope {
    color: #aaa;
}

/* Explicit consent list */
ul.pf-c-list.style-scope.ak-stage-consent {
    text-align: left;
}
