# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: lidarr
  namespace: lidarr
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      lidarr:
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/lidarr
              tag: 3.1.2.4902@sha256:dab0e07502a34436fc50c3e789388f0a29f8cbf681fb7a02ed703ad7c368a22c
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-plex: "true"
            policy.gabe565.com/egress-prowlarr: "true"
            policy.gabe565.com/egress-qbittorrent: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
            policy.gabe565.com/ingress-overseerr: "true"
            policy.gabe565.com/ingress-prowlarr: "true"
          securityContext:
            runAsNonRoot: true
            runAsUser: 65534
            runAsGroup: 65534
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      lidarr:
        controller: lidarr
        ports:
          http:
            port: 8686

    persistence:
      config:
        suffix: config
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        size: 2Gi
        retain: true
      media:
        type: nfs
        server: 192.168.1.240
        path: /volume1/media
        globalMounts:
          - path: /mnt/media
      tmp:
        type: emptyDir

    route:
      lidarr:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: lidarr
            timeouts:
              request: 5m
              backendRequest: 5m

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/lidarr/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, offline_access]
