# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: transsmute
  namespace: transsmute
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      transsmute:
        annotations:
          secret.reloader.stakater.com/reload: transsmute-env
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: ghcr.io/gabe565/transsmute
              tag: 1.6.1@sha256:c8ac95a30c3145ce40ab9cee1f22a98045fb55bdf64cf9a7a67ad262ea0cb459
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
            envFrom:
              - secretRef:
                  name: transsmute-env
            probes:
              liveness: &probe
                enabled: true
                type: HTTP
                path: /ping
              readiness: *probe
              startup:
                <<: *probe
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              readOnlyRootFilesystem: true
        pod:
          labels:
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-envoy-public: "true"

    service:
      transsmute:
        controller: transsmute
        ports:
          http:
            port: 80

    route:
      transsmute:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
        rules:
          - backendRefs:
              - identifier: transsmute
            timeouts:
              request: 60s
              backendRequest: 60s
