apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  interval: 1h
  driftDetection:
    mode: enabled
  chart:
    spec:
      chart: ingress-nginx
      version: v4.14.0
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: ingress-nginx
      interval: 1h
  valuesFrom:
    - kind: ConfigMap
      name: defaults
  values:
    controller:
      podLabels:
        policy.gabe565.com/ingress-envoy-public: "true"

      extraArgs:
        maxmind-mirror: ${geoip_mirror}

      maxmindLicenseKey: stub

      config:
        use-geoip2: "true"
        enable-real-ip: "true"
        proxy-real-ip-cidr: "10.42.0.0/16"
        use-forwarded-headers: "true"

      ingressClassResource:
        name: nginx
        default: true

      service:
        type: ClusterIP

      metrics:
        enabled: true
        serviceMonitor:
          enabled: true
          scrapeInterval: 1m

    defaultBackend:
      image:
        repository: ghcr.io/tarampampam/error-pages
        tag: 3.8.0@sha256:6fda7ff61de68b3b188538221f718d834fd9aa6ddaf0c13044febc6100515fd1
