# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.4.0/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nightscout
  namespace: nightscout
spec:
  chart:
    spec:
      chart: app-template
      version: 4.4.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      nightscout:
        containers:
          app:
            image:
              repository: ghcr.io/gabe565/nightscout
              tag: 15.0.3-websocket@sha256:1410f1c64df0b3367ed6b3e8252dfad08859ffa6e91585450a129067a8419b6d
              pullPolicy: IfNotPresent
            env:
              HOSTNAME: "::"
              PORT: "1337"

              TZ: America/Chicago
              TIME_FORMAT: "24"
              INSECURE_USE_HTTP: "true"
              API_SECRET: ${api_secret}
              AUTH_DEFAULT_ROLES: denied

              DB_PASSWORD:
                secretKeyRef:
                  name: mongodb
                  key: mongodb-passwords
              MONGODB_URI:
                value: mongodb://nightscout:$(DB_PASSWORD)@mongodb/nightscout
                dependsOn: DB_PASSWORD
              MONGODB_COLLECTION: entries

              ENABLE: careportal simplealarms
              DISABLE: ar2 simplealarms upbat dbsize

              DISPLAY_UNITS: mg/dl
              ALARM_TIMEAGO_URGENT: off
              ALARM_TIMEAGO_WARN: off
              ALARM_TYPES: " "
              DAY_START: "9.0"
              DAY_END: "23.0"
              DEVICESTATUS_ADVANCED: "true"
              EDIT_MODE: on
              SCALE_Y: linear
              SHOW_FORECAST: " "
              SHOW_RAWBG: noise
              THEME: colors
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: [ALL]}
            probes:
              liveness: &probe
                enabled: true
                custom: true
                spec:
                  httpGet:
                    port: 1337
                    path: /api/v2/status.txt
                    httpHeaders:
                      - name: Api-Secret
                        value: '{{ sha1sum "${probe_token}" }}'
              readiness: *probe
              startup:
                enabled: true
                spec:
                  failureThreshold: 60
                  periodSeconds: 5
        pod:
          labels:
            policy.gabe565.com/egress-namespace: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-home-assistant: "true"
            policy.gabe565.com/ingress-namespace: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch
            seccompProfile: {type: RuntimeDefault}

    service:
      nightscout:
        controller: nightscout
        ports:
          http:
            port: 1337

    route:
      nightscout:
        parentRefs: &parentRefs
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
          - ${api_url}
        rules:
          # Auth header
          - matches:
              - headers:
                  - type: RegularExpression
                    name: API-Secret
                    value: ".{40}"
            backendRefs:
              - identifier: nightscout
          # Auth param
          - matches:
              - queryParams:
                  - type: RegularExpression
                    name: token
                    value: ".+"
            backendRefs:
              - identifier: nightscout
          # Service worker
          - matches:
              - path:
                  type: Exact
                  value: /sw.js
            filters:
              - type: ExtensionRef
                extensionRef:
                  group: gateway.envoyproxy.io
                  kind: HTTPRouteFilter
                  name: nightscout-service-worker
      oidc:
        parentRefs: *parentRefs
        hostnames:
          - ${app_url}

    rawResources:
      auth:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: SecurityPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-oidc"
            oidc:
              provider:
                issuer: https://${oidc_host}/application/o/nightscout/
              clientIDRef:
                name: oidc
              clientSecret:
                name: oidc
              scopes: [openid, ns_token]
              forwardAccessToken: true
            jwt:
              optional: true
              providers:
                - name: extract-user-info
                  remoteJWKS:
                    uri: https://${oidc_host}/application/o/nightscout/jwks/
                  claimToHeaders:
                    - claim: ns_token
                      header: API-Secret
      ws-token-to-query:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: EnvoyExtensionPolicy
        spec:
          spec:
            targetRefs:
              - group: gateway.networking.k8s.io
                kind: HTTPRoute
                name: "{{ .Release.Name }}-oidc"
            lua:
              - type: Inline
                # language=lua
                inline: |
                  function envoy_on_request(handle)
                      local path = handle:headers():get(":path")
                      local secret = handle:headers():get("api-secret")
                      if path and secret and not string.find(path, "token=") then
                          local sep = string.find(path, "?") and "&" or "?"
                          handle:headers():replace(":path", path .. sep .. "token=" .. secret)
                      end
                  end
      service-worker:
        apiVersion: gateway.envoyproxy.io/v1alpha1
        kind: HTTPRouteFilter
        spec:
          spec:
            directResponse:
              contentType: application/javascript
              statusCode: 200
              body:
                type: Inline
                inline: |
                  self.addEventListener('install', event => { event.waitUntil(self.skipWaiting()) });
