# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-3.7.3/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: overseerr
  namespace: overseerr
spec:
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      overseerr:
        containers:
          app:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.34.0@sha256:4f38f58d68555004d3f487a4c5cbe2823e6a0942d946a25a2d9391d8492240a4
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              LOG_LEVEL: warn
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-plex: "true"
            policy.gabe565.com/egress-tautulli: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-authentik: "true"
            policy.gabe565.com/ingress-ingress: "true"
          securityContext:
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      overseerr:
        controller: overseerr
        ports:
          http:
            port: 5055

    persistence:
      config:
        enabled: true
        size: 100Mi
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        globalMounts:
          - path: /app/config
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /app/config/cache
            subPath: app
          - path: /root/.npm
            subPath: npm
      tmp:
        enabled: true
        type: emptyDir

    ingress:
      overseerr:
        enabled: true
        hosts:
          - host: ${app_url}
            paths:
              - path: /
                service:
                  identifier: overseerr
                  port: http
        tls: &tls
          - secretName: ${certificate_name}
            hosts:
              - ${app_url}
