# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/app-template-4.6.2/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: overseerr
  namespace: overseerr
spec:
  chart:
    spec:
      chart: app-template
      version: 4.5.0
      reconcileStrategy: ChartVersion
      sourceRef:
        kind: HelmRepository
        namespace: flux-system
        name: bjw-s
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      overseerr:
        containers:
          app:
            image:
              repository: ghcr.io/sct/overseerr
              tag: 1.35.0@sha256:6197516c9d7b58ccf113455e32aafb94df5d91995fe50e8c2cae6ba6c7c7b7de
              pullPolicy: IfNotPresent
            env:
              TZ: America/Chicago
              LOG_LEVEL: warn
            probes:
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              readOnlyRootFilesystem: true
              runAsUser: 1000
              runAsGroup: 1000
              allowPrivilegeEscalation: false
              capabilities: {drop: [ALL]}
        pod:
          labels:
            policy.gabe565.com/egress-plex: "true"
            policy.gabe565.com/egress-tautulli: "true"
            policy.gabe565.com/egress-world: "true"
            policy.gabe565.com/ingress-authentik: "true"
            policy.gabe565.com/ingress-envoy-public: "true"
          securityContext:
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      overseerr:
        controller: overseerr
        ports:
          http:
            port: 5055

    persistence:
      config:
        suffix: config
        size: 100Mi
        storageClass: longhorn-ssd
        accessMode: ReadWriteOnce
        retain: true
        globalMounts:
          - path: /app/config
      cache:
        type: emptyDir
        globalMounts:
          - path: /app/config/cache
            subPath: app
          - path: /root/.npm
            subPath: npm
      tmp:
        type: emptyDir
        medium: Memory
        sizeLimit: 128Mi

    route:
      overseerr:
        parentRefs:
          - namespace: envoy-gateway-system
            name: envoy-public
        hostnames:
          - ${app_url}
